.search-page-container {

  .search-page-content-info {
    flex: auto;
    background: linear-gradient(180deg, #33383D 0%, #1C1D20 100%);
    box-shadow: 4px 4px 70px rgb(0 0 0 / 25%);

    .search-page-content-info-wrapper {
      margin: 101px 0 0 287px;
      .search-page-title {
        h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 60px;
          line-height: 90px;
          color: #E0E0E0;
          margin: 0;
        }
        h2 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #E0E0E0;
          margin: 0 0 50px 0;
        }
      }
      .git-users-search-conteiner {
        .search-page-search-bar{
           input {
              width: 693px;
              height: 60px;
              background: transparent;
              background: #26292C;
              border: 1px solid #FFFFFF;
              border-radius: 50px;
              border-radius: 50px;
            }
            input::placeholder,
            input[type=text] {
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #E0E0E0;
              padding: 0 20px;
            }
            Button {
              box-sizing: border-box;
              width: 200px;
              height: 67px;
              box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
              border-radius: 50px;
              margin-left: 30px;
              font-family: 'Poppins';
              font-style: normal;
              font-weight: 700;
              font-size: 18px;
              line-height: 27px;
            }
        }

        .git-users-search-content{
          .git-users-search-card{
            background: #26292C;
            border: 1px solid #AAAAAA;
            border-radius: 8px;
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            margin: 20px 0;
            padding: 0 45px 0 33px;
            align-items: center;
            width: 880px;
            height: 159px;
            .git-users-search-card-img{
              margin-right: 20px;
              img{
                border-radius: 50%;
              }
            }
            .git-users-search-card-info{
              display: flex;
              flex-direction: column;
              .git-users-search-card-info-name{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 27px;
                color: #E0E0E0;
              }
              .git-users-search-card-info-description{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #E0E0E0;
              }              
            }
            Button {
              padding: 10px 32px;
              width: 149px;
              height: 47px;
            }
          }
        }


        

      }

    }
  }

  .search-page-content-img {
    width: 25%;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
  }

  //mobile
  @media (max-width: 768px) {
    .search-page-content-info {
      width: 100%;
      height: 100vh;
    }

    .login-content-img {
      display: none;
    }
  }
}