.loginchallenge-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.loginchallenge-button--primary {
  color: white;
  background-color: #1ea7fd;
  background: linear-gradient(90deg, #FF2D04 0%, #C13216 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}
.loginchallenge-button--secondary {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background: linear-gradient(90deg, #0487FF 0%, #1665C1 100%);
  box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
.loginchallenge-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.loginchallenge-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.loginchallenge-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
